<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Parstek &ndash; data analytics</title>

        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <!--
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/json2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
        <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        -->

        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <body>
        <div id="top_container">
            <div id="top_cont">
                <a id="logo" href="/" rel="nofollow">
                    <div class="name">Parstek</div>
                    <div class="name_2">data analytics</div>
                </a>
            </div>
        </div>
        <div id="body_container">
            <div id="body_cont">

                <span class="red">Parstek</span> &ndash; company provides smart website and
                other data sources parsing.

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat, ante
                    sed posuere sodales, nisi ante iaculis felis, quis varius urna odio id tortor.
                    Donec non varius tellus. Pellentesque sagittis ac orci eget volutpat. Suspendisse
                    quis consequat enim. Morbi nec leo eget mi sodales sodales ac eu dolor. Cras vehicula
                    congue lacinia. Ut tincidunt vel ligula at convallis. Vestibulum vulputate vehicula
                    porttitor. Pellentesque quis porta felis. Nam porta ligula eros, nec imperdiet libero
                    tempor at. Nulla luctus adipiscing turpis at placerat. Suspendisse nibh erat, varius
                    eu porta quis, tincidunt ac felis.
                </p>

                <p>
                    Aliquam cursus risus sit amet malesuada condimentum. Sed vestibulum lacus et eros
                    hendrerit, ac semper dui ullamcorper. Curabitur posuere commodo turpis vitae lobortis.
                    Quisque vehicula leo at augue viverra, sit amet fringilla felis congue. Nulla sed urna
                    congue lacus fringilla blandit id pulvinar orci. Etiam nec tempor nisl, vel pellentesque enim.
                    Mauris fermentum dui dolor, eget volutpat nisl posuere ut. Etiam id tellus sit amet elit blandit
                    suscipit pretium nec purus. Nam sit amet sollicitudin purus, non condimentum nulla.
                </p>

            </div>
            <div id="footer_cont">

                <h3>Contacts</h3>

                <p>
                    E-Mail: <a href="mailto:m@matyunin.pro">m@matyunin.pro</a>
                </p>
            </div>
        </div>
    </body>
</html>
