<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Parstek &ndash; data analytics</title>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <body>
        <div id="top_container">
            <div id="top_cont">
                <a id="logo" href="/" rel="nofollow">
                    <div class="name">Parstek</div>
                    <div class="name_2">data analytics</div>
                </a>
            </div>
        </div>
        <div id="body_container">
            <div id="body_cont">
                
                <p>
                    <span class="red">Parstek</span> &ndash; company provides services in data analytics.
                </p>

                <p>
                    We can help you to parse websites, databases and other data storages.
                </p>

                <p>
                    Building native linux services and daemons for permanent periodic parsing and
                    data aggregating.
                </p>

            </div>
            <div id="footer_cont">
                <h3>Contacts</h3>
                <p>
                    Connect with us: <a href="mailto:mail@parstek.com">mail@parstek.com</a>
                </p>
                <p>
                    Support: <a href="mailto:support@parstek.com">support@parstek.com</a>
                </p>
            </div>
        </div>
        <div id="copyright_content">
            <div class="copy">&copy; 2010 - 2013 Parstek inc.</div>
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-45749971-2', 'parstek.com');
            ga('send', 'pageview');
        </script>

    </body>
</html>
