<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Parstek &ndash; data analytics</title>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <body>
        <div id="top_container">
            <div id="top_cont">
                <a id="logo" href="/" rel="nofollow">
                    <div class="name">Parstek</div>
                    <div class="name_2">data analytics</div>
                </a>
            </div>
        </div>
        <div id="body_container">
            <div id="body_cont">
                
                <p>
                    <span class="red">Parstek</span> &ndash; company provides services in data analytics.
                </p>

                <p>
                    We can help you to parse websites, databases and other data storages.
                </p>

                <p>
                    Building native linux services and daemons for permanent periodic parsing and
                    data aggregating.
                </p>

            </div>
            <div id="footer_cont">
                <h3>Contacts</h3>
                <p>
                    Connect with us: <a href="mailto:mail@parstek.com">mail@parstek.com</a>
                </p>
                <p>
                    Support: <a href="mailto:support@parstek.com">support@parstek.com</a>
                </p>
            </div>
        </div>
        <div id="copyright_content">
            <div class="copy">&copy; 2010 - 2013 Parstek inc.</div>
        </div>
    </body>
</html>
